/ {
    servo: servo {
        compatible = "doodle-servo";
        pwms = <&ledc0 0 20000000 0>; /* 20ms period, normal polarity on LEDC channel 0 */
    };
};

&pinctrl {
    ledc0_default: ledc0_default {
        group1 {
            pinmux = <LEDC_CH0_GPIO2>; /* GPIO2 for servo PWM */
            output-enable;
        };
    };
};

&ledc0 {
    status = "okay";
    pinctrl-0 = <&ledc0_default>;
    pinctrl-names = "default";
    #pwm-cells = <3>;
};