/ {
    servo: servo {
        compatible = "doodle-servo";
        pwms = <&pwm0 0 20000000 0>; /* 20ms period, normal polarity */
    };

    leds {
        compatible = "gpio-leds";
        led1: led_1 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>; /* P0.14 - LED2 on nRF52840 DK */
        };
    };

    aliases {
        buzzer0 = &buzzer;
    };

    buzzer: buzzer {
        compatible = "gpio-buzzer";
        gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>; /* P0.15 - GPIO15 for buzzer */
    };
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
    #pwm-cells = <3>;
};

&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>; /* P0.13 - LED1 on nRF52840 DK */
        };
    };

    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;
            low-power-enable;
        };
    };
};