# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menu "Drivers"
rsource "servo/Kconfig"
rsource "led/Kconfig"
rsource "buzzer/Kconfig"
rsource "stepper/Kconfig"
endmenu
