menu "Zephyr"
source "Kconfig.zephyr"
endmenu

# Include driver configurations using APPLICATION_SOURCE_DIR
source "$(APPLICATION_SOURCE_DIR)/../../drivers/Kconfig"

config LED_TEST
	bool "Build LED test"
	default y
	select SIMPLE_LED_DRIVER
	help
	  LED test application.